.services {
  background: #0a0a0a;
  color: #fff;
  padding: 120px 6%;
}

/* SECTION HEADER */

.section-header {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 70px;
}

.section-label {
  color: #c5a367;

  text-transform: uppercase;
  font-size: 0.8rem;

  letter-spacing: 3px;
  margin-bottom: 10px;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

.section-subtitle {
  color: #9e9e9e;
  font-size: 1rem;
  line-height: 1.6;
}

/* SERVICES GRID */

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */

.service-card {
  background: #111;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 35px;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;

  overflow: hiddn;
}

/* HOVER EFFECT */

.service-card:hover {
  transform: translateY(-8px);
  border-color: #c5a367;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.service-card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  right: 20px;
  /* inset: 0; */
  /* width: 100%; */
  height: 6px;
  background: #c5a367;
  border-radius: 100%;
  transform: scaleX(0);
  transition: 0.4s;
}

.service-card:hover::before {
  transform: scaleX(1);
}

.view-all-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.view-services-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background: #111;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  border: 1px solid silver;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* glowing border animation */
.view-services-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 40px;
  background: linear-gradient(
    120deg,
    #d4af37,
    #f5d76e,
    #d4af37
  );
  z-index: -1;
  animation: glowingBorder 3s linear infinite;
}

/* inner background */
.view-services-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #111;
  border-radius: 40px;
  z-index: -1;
}

/* button hover lift */
.view-services-btn:hover {
  border: transparent;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(212,175,55,0.4);
}

/* arrow animation */
.btn-icon {
  transition: transform 0.3s ease;
}

.view-services-btn:hover .btn-icon {
  transform: translateX(6px);
}

/* glowing border animation */
@keyframes glowingBorder {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

/* ICON */

.service-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(197, 163, 103, 0.08);
  border-radius: 10px;
  color: #c5a367;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.service-card:hover .service-icon {
  /* transform: translateY(-5px) translateX(5px) scale(1.2); */
  transform: translateY(-5px) scale(1.2) rotate(8deg);
}

/* TITLE */

.service-title {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: #fff;
}

/* DESCRIPTION */

.service-description {
  color: #9e9e9e;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* RESPONSIVE */

@media (max-width: 1100px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .section-title {
    font-size: 2.2rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}
